@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    
    /* Colours */
    --accent: rgb(251, 134, 24);
    --primary: rgb(113, 24, 247);
    --secondary: rgb(27, 2, 64);
    --background: rgb(15, 0, 30);
    --text: rgb(252, 250, 255);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
}

main {
    margin-top: 72px;
}

p {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

a {
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: color 0.5s, padding 0.5s;
}

a:hover {
    color: var(--accent);
    padding-bottom: 5px;
    border-bottom-style: solid;
}

.no-decoration:hover {
    padding-bottom: 0;
    border: none;
}

h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
}

h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
}

h1, h2, h3, h4, p {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.highlight {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.block {
    margin-top: 112px;
    margin-bottom: 112px;
}

.mid {
    font-size: 16px;
}

.small {
    font-size: 12px;
}

.small a {
    font-size: 12px;
}

.gap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.tinted {
    filter: sepia(0%) saturate(100%) brightness(50%) hue-rotate(0deg);
}

.banner {
    width: 100%;
    background-color: var(--primary);
    text-align: center;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1312px;
        margin-left: calc((100vw - 1312px)/2);
        margin-right: calc((100vw - 1312px)/2);
    }
}

input {
    border: 1px solid var(--text);
    height: auto;
    width: 100%;
    color: var(--primary);
    font-size: 16px;
    outline: none;
    padding: 12px;
}

input::placeholder, textarea::placeholder {
    color: var(--primary);
}

textarea {
    border: 1px solid var(--text);
    height: 156px;
    width: calc(100% - 24px);
    color: var(--primary);
    font-size: 16px;
    outline: none;
    padding: 12px;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
}

button, input[type="submit"] {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.btn {
    border: 1px solid var(--text, #FCFAFF);
    color: var(--text);
    transition: border 0.5s, color 0.5s;
}

.btn:hover {
    border-color: var(--accent);
    color: var(--accent);
}

.btn-primary {
    border: 1px solid var(--text);
    background: var(--text);
    color: var(--background);
    transition: border 0.5s, background 0.5s;
}

.btn-primary:hover {
    background: var(--accent);
    border-color: var(--accent);
}

.no-outline {
    border: 0;
}

.btn-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}