/* .hero {
    position: relative;
    width: 100vw;
    max-width: 1440px;
    height: calc(100vh - 72px);
    max-height: 900px;
} */

.hero {
    position: relative;
}

.hero img {
    width: 100vw;
    max-width: 1440px;
    height: calc(100vh - 72px);
    max-height: 900px;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    /* box-shadow: 0px 0px 50px 5px var(--background) inset; */
}

.hero_content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 768px;
}