---
import Main from "../layouts/main.astro";
import Hero from "../components/Hero.astro";
import AI from "../img/AI.jpg";
---

<Main>
  <Hero title="FAQs" description="Frequently Asked Questions" image={AI} />
  <div class="block">
    <div class="container">
      <h4>What is DataWealthy?</h4>
      <p>
        DataWealthy is an NGO (Non-Governmental Organization) founded by <a
          href="https://x.com/kumar_aditya"
          target="_blank"
          rel="noreferrer">Aditya Kumar</a
        >. Its primary goal is to make artificial intelligence (AI) accessible
        to a broader audience, empowering individuals with the knowledge and
        tools to utilize AI for various purposes.
      </p>
    </div>

    <br />

    <div class="container">
      <h4>Why was DataWealthy founded?</h4>
      <p>
        DataWealthy was founded with the vision of democratizing AI. <a
        href="https://x.com/kumar_aditya"
        target="_blank"
        rel="noreferrer">Aditya Kumar</a
      > recognized the potential of AI in various fields and wanted to
        bridge the knowledge gap, ensuring that AI is not limited to experts but
        can be harnessed by anyone interested.
      </p>
    </div>

    <br />

    <div class="container">
      <h4>How does DataWealthy make AI accessible?</h4>
      <p>
        DataWealthy achieves its mission by providing educational resources,
        tutorials, workshops, and online courses related to AI and programming.
        It aims to simplify complex AI concepts, making them understandable for
        beginners.
      </p>
    </div>

    <br />

    <div class="container">
      <h4>Who can benefit from DataWealthy's initiatives?</h4>
      <p>
        DataWealthy's resources are designed for individuals with varying levels
        of expertise, from absolute beginners to those with some prior knowledge
        in programming and AI. The goal is to cater to a wide audience.
      </p>
    </div>

    <br />

    <div class="container">
      <h4>Are DataWealthy's services free?</h4>
      <p>
        Yes, many of DataWealthy's resources are offered for free to ensure
        accessibility. However, there might be some premium courses or content
        that may have a fee to support the NGO's activities.
      </p>
    </div>

    <br />

    <div class="container">
      <h4>Is DataWealthy affiliated with any educational institutions?</h4>
      <p>
        DataWealthy operates independently and is not directly affiliated with
        any educational institution. It's a standalone initiative to promote AI
        education.
      </p>
    </div>

    <br />

    <div class="container">
      <h4>How can I get involved with DataWealthy?</h4>
      <p>
        If you're interested in contributing to DataWealthy's mission, you can
        reach out to the organization through our <a
          href="/contact"
          rel="noreferrer">contact page</a
        >. They may have opportunities for volunteers, educators, or
        contributors.
      </p>
    </div>
  </div>
</Main>
