---
import Main from "../layouts/main.astro";
import styles from "../styles/index.module.css"
---

<Main title="Data Wealthy">
	<div class:list={[styles.hero, "tinted", "container"]}>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
		<h1>Hello</h1>
	</div>
</Main>
